<div>
  <header class="top-header">
    <card-wrapper class="top-background"></card-wrapper>

    <h1 class="top-logo">
      <brand :width.once="362" :height.once="71"></brand>
    </h1>

    <p class="top-lead">Never miss out technical tips from your team.</p>

    <div class="top-buttons">
      <a class="top-button" href="https://github.com/ktsn/float-behind-client/releases/download/v1.1.0/FloatBehind-1.1.0.dmg">
        <frame-button icon="mac" label="Download for Mac"></frame-button>
      </a>

      <span class="top-button">
        <frame-button disabled="true" icon="windows" label="Coming Maybe?"></frame-button>
      </span>
    </div>
  </header>

  <article class="top-feature">
    <ul class="top-feature-list">
      <li class="top-feature-item">
        <img src="/images/ico-shuriken.png" alt="" width="86" height="71">
        <p class="top-feature-label">Work with your team</p>
      </li>

      <li class="top-feature-item">
        <img src="/images/ico-makimono.png" alt="" width="86" height="71">
        <p class="top-feature-label">Never miss out tips</p>
      </li>

      <li class="top-feature-item">
        <img src="/images/ico-kunai.png" alt="" width="86" height="71">
        <p class="top-feature-label">Pin tips on your desktop</p>
      </li>
    </ul>

    <p class="top-feature-description">
      FloatBehind automatically pins tips or messages from slack on your desktop.<br>
      The app will pin messages on your desktop that team members want you to read.
    </p>
  </article>

  <article class="top-tutorial">
    <ol class="top-tutorial-list">
      <li class="top-row">
        <div class="row-description">
          <p class="row-heading">
            Let's get started with FloatBehind.
          </p>

          <p class="row-body">
            Download the Mac application from FloatBehind and login with your Slack account.
            FloatBehind collects shared information and technical tips from your team, and pins them on
            your desktop.
          </p>
        </div>

        <div class="row-image">
          <img src="/images/img-login.png" alt="Login from status menu icon on your mac" width="320"
               height="218">
        </div>
      </li>

      <li class="top-row">
        <div class="row-description">
          <p class="row-heading">
            Assign a command for FloatBehind.
          </p>

          <p class="row-body">
            Assign a command on Slack integration setting page for FloatBehind.
            Go to <a href="https://slack.com/apps/manage/A0F82E8CA-slash-commands" target="_blank">
            Slack integration setting page</a> and set your prefered command name.
          </p>
        </div>

        <div class="row-image">
          <img src="/images/img-command.png"
               alt="You can configure your command name for the floatbehind.ninja integration" width="320"
               height="218">
        </div>
      </li>

      <li class="top-row">
        <div class="row-description">
          <p class="row-heading">
            Use the command to share your tips with all your teammates.
          </p>

          <p class="row-body">
            FloatBehind will work on every Slack channel. Post URLs that you want to share with your team
            members by using the slack command. FloatBehind will pin it on your team members desktop.
          </p>
        </div>

        <div class="row-image">
          <img src="/images/img-cards.png" alt="The screen shot of the floatbehind.ninja app" width="320"
               height="218">
        </div>
      </li>
    </ol>
  </article>

  <article class="top-team">
    <div class="top-row inverse">
      <div class="row-description">
        <h1 class="row-heading">
          Keep in touch with our team.
        </h1>

        <p class="row-body">
          This is open source project born in TechCrunch Tokyo Hackathon 2015. If you'd like to be part of the
          FloatBehind community or help improve this project, find us on <a
          href="https://floatbehind.slack.com" target="_blank">Slack</a>.
        </p>
      </div>

      <div class="row-image">
        <img src="/images/img-floatbehind_team.png" alt="The Slack team of floatbehind" width="320"
             height="218">
      </div>
    </div>
  </article>

  <article class="top-download">
    <h1 class="top-download-heading">
      Download FloatBehind
    </h1>

    <div class="top-download-buttons">
      <a class="top-button" href="https://github.com/ktsn/float-behind-client/releases/download/v1.1.0/FloatBehind-1.1.0.dmg">
        <frame-button theme="purple" icon="mac" label="Download for Mac"></frame-button>
      </a>

      <span class="top-button">
        <frame-button disabled="true" theme="purple" icon="windows" label="Coming Maybe?"></frame-button>
      </span>
    </div>
  </article>

  <footer class="top-footer">
    Copyrights 2016 FloatBehind.ninja. All rights reserved.
  </footer>
</div>
