<div>
  <header class="top-header">
    <card-wrapper class="top-background"></card-wrapper>

    <h1 class="top-logo">
      <img src="/images/logo-floatbehind_ninja.png" alt="floatbehind.ninja" width="362" height="71">
    </h1>

    <p class="top-lead">Never miss out technical tips in your team.</p>

    <div class="top-buttons">
      <a class="top-button" href="#">
        <frame-button icon="mac" label="Download Mac App"></frame-button>
      </a>

      <span class="top-button">
        <frame-button disabled="true" icon="windows" label="Coming Maybe..."></frame-button>
      </span>
    </div>
  </header>

  <article class="top-feature">
    <ul class="top-feature-list">
      <li class="top-feature-item">
        <img src="/images/ico-shuriken.png" alt="" width="86" height="71">
        <p class="top-feature-label">Work with your team</p>
      </li>

      <li class="top-feature-item">
        <img src="/images/ico-makimono.png" alt="" width="86" height="71">
        <p class="top-feature-label">Never miss out tips</p>
      </li>

      <li class="top-feature-item">
        <img src="/images/ico-kunai.png" alt="" width="86" height="71">
        <p class="top-feature-label">Pin tips on your desktop</p>
      </li>
    </ul>

    <p class="top-feature-description">
      floatbehind.ninja is automatic update of chat tips on your desktop.<br>
      He gets the tips that team members want to share in your team and pins on your desktop.
    </p>
  </article>

  <article class="top-tutorial">
    <ol class="top-tutorial-list">
      <li class="top-row">
        <div class="row-description">
          <p class="row-heading">
            Then, Let's get start with a floatbehind.ninja.
          </p>

          <p class="row-body">
            Please download Mac application of floatbehind.ninja and login with your Slack account. floatbehind.ninja collects shared information like technical tips in your team.
          </p>
        </div>

        <div class="row-image">
          <img src="/images/img-login.png" alt="Login from status menu icon on your mac" width="320" height="218">
        </div>
      </li>

      <li class="top-row">
        <div class="row-description">
          <p class="row-heading">
            Decide a command for the floatbehind.ninja.
          </p>

          <p class="row-body">
            Please decide a command on Slack integration setting for floatbehind.ninja.
            Go to <a href="https://slack.com/apps/manage/A0F82E8CA-slash-commands" target="_blank">Slack integration setting page</a> and set your prefer command name.
          </p>
        </div>

        <div class="row-image">
          <img src="/images/img-command.png" alt="You can configure your command name for the floatbehind.ninja integration" width="320" height="218">
        </div>
      </li>

      <li class="top-row">
        <div class="row-description">
          <p class="row-heading">
            Share your tips for your team with the command.
          </p>

          <p class="row-body">
            floatbehind.ninja will work on every Slack channel. Post URLs that you wants to share with team members by using the command. floatbehind.ninja will pin it on your team member's desktop.
          </p>
        </div>

        <div class="row-image">
          <img src="/images/img-cards.png" alt="The screen shot of the floatbehind.ninja app" width="320" height="218">
        </div>
      </li>
    </ol>
  </article>

  <article class="top-team">
    <div class="top-row inverse">
      <div class="row-description">
        <h1 class="row-heading">
          Keep in touch with our team.
        </h1>

        <p class="row-body">
          This is open source project born in Techcrunch Tokyo Hackathon 2015. If you'd like to be part of the floatbehind community or help improve this project, find us on <a href="https://floatbehind.slack.com" target="_blank">Slack</a>.
        </p>
      </div>

      <div class="row-image">
        <img src="/images/img-floatbehind_team.png" alt="The Slack team of floatbehind" width="320" height="218">
      </div>
    </div>
  </article>

  <article class="top-download">
    <h1 class="top-download-heading">
      floatbehind.ninja is available from now on!
    </h1>

    <div class="top-download-buttons">
      <a class="top-button" href="#">
        <frame-button theme="purple" icon="mac" label="Download Mac App"></frame-button>
      </a>

      <span class="top-button">
        <frame-button disabled="true" theme="purple" icon="windows" label="Coming Maybe..."></frame-button>
      </span>
    </div>
  </article>

  <footer class="top-footer">
    Copyrights 2016 floatbehind.ninja. all rights reserved.
  </footer>
</div>
